*~
*.o
*.lo
*.la
*.orig
*.rej
*.loT
*.bin
*.pc
*.g[4-7]s
.deps
.libs
install-sh
libtool
ltmain.sh
compile
missing
Makefile
Makefile.in
config.h
config.h.in
stamp-h1
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
TAGS
/src/intel_version.h
/src/wayland-drm-client-protocol.h
.VERSION*
